# 660710761 ธีมาพร เรืองศรี

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("student.csv")
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

In [4]:
# ตรวจสอบ missing value / null
df.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       1
อายุ                       3
เพศ                        2
คณะ                        2
GPA                        2
ส่วนสูง_cm                 1
น้ำหนัก_kg                 2
ชั่วโมงเรียน_ต่อสัปดาห์    2
วันที่ลงทะเบียน            0
dtype: int64

In [5]:
# ตรวจสอบว่าชื่อคณะมีการพิมพ์กี่แบบ
df['คณะ'].nunique()

14

In [7]:
# เก็บสำเนาข้อมูลต้นฉบับ
df_original = df.copy()
df_original

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

In [22]:
# วิเคราะห์ข้อมูลทางสถิติ
df_original.info()

print("\n" + "="*50)
print("📊 สถิติเชิงพรรณนา")
print("="*50)
print(df_original.describe())

# ตรวจสอบค่าหายในแต่ละคอลัมน์
missing_counts = df_original.isnull().sum()
print("\n❌ ค่าหายในแต่ละคอลัมน์:")
for col, count in missing_counts[missing_counts > 0].items():
    percentage = (count / len(df)) * 100
    print(f"   - {col}: {count} ค่า ({percentage:.1f}%)")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   รหัสนักศึกษา             20 non-null     int64
 1   ชื่อ                     19 non-null     object
 2   อายุ                     17 non-null     float64
 3   เพศ                      18 non-null     object
 4   คณะ                      18 non-null     object
 5   GPA                      18 non-null     float64
 6   ส่วนสูง_cm               19 non-null     float64
 7   น้ำหนัก_kg               18 non-null     float64
 8   ชั่วโมงเรียน_ต่อสัปดาห์  18 non-null     float64
 9   วันที่ลงทะเบียน          20 non-null     object
dtypes: float64(5), int64(1), object(4)
memory usage: 1.7+ KB

==================================================
📊 สถิติเชิงพรรณนา
==================================================
       รหัสนักศึกษา        อายุ        GPA  ส่วนสูง_cm  น้ำหนัก_kg  \
count      20.00000   17.000000  18.000000   19.000000   18.000000
mean    64010.50000   28.470588   3.246111  167.684211   63.611111
std         5.91608   31.337114   1.123326    5.706260   10.279270
min     64001.00000   19.000000  -1.000000  158.000000   48.000000
25%     64005.75000   20.000000   3.215000  163.500000   55.250000
50%     64010.50000   21.000000   3.450000  168.000000   63.000000
75%     64015.25000   22.000000   3.670000  171.500000   71.500000
max     64020.00000  150.000000   4.500000  180.000000   82.000000

       ชั่วโมงเรียน_ต่อสัปดาห์
count                18.000000
mean                 21.388889
std                   6.598920
min                  10.000000
25%                  16.500000
50%                  21.500000
75%                  25.750000
max                  35.000000

❌ ค่าหายในแต่ละคอลัมน์:
   - ชื่อ: 1 ค่า (5.0%)
   - อายุ: 3 ค่า (15.0%)
   - เพศ: 2 ค่า (10.0%)
   - คณะ: 2 ค่า (10.0%)
   - GPA: 2 ค่า (10.0%)
   - ส่วนสูง_cm: 1 ค่า (5.0%)
   - น้ำหนัก_kg: 2 ค่า (10.0%)
   - ชั่วโมงเรียน_ต่อสัปดาห์: 2 ค่า (10.0%)

In [10]:
df_original.shape

(20, 10)

# จัดการข้อมูล

# Dropna

In [42]:
# ลบแถวที่มีค่า null
df_clean = df_original.dropna()
print(f"\nผลการลบ -> ก่อนลบ {len(df_original)} แถว, หลังลบ {len(df_clean)} แถว")

ผลการลบ -> ก่อนลบ 20 แถว, หลังลบ 14 แถว

In [43]:
df_clean

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24

In [44]:
df_clean.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       0
อายุ                       0
เพศ                        0
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
dtype: int64

In [73]:
print("ค่า NaN ที่ยังเหลืออยู่")
df_clean.isnull().sum().sum()

ค่า NaN ที่ยังเหลืออยู่

np.int64(0)

# เติมค่า null ด้วยค่าเฉลี่ย

In [56]:
df_mean = df.copy()

In [63]:
# เติมค่าอายุด้วยค่าเฉลี่ย อายุก็จะไม่มีค่า NaN
# เหมาะกับข้อมูลตัวเลข
mean_age = df_mean['อายุ'].mean()
mean_grade = df_mean['GPA'].mean()
mean_height = df_mean['ส่วนสูง_cm'].mean()
mean_weight = df_mean['น้ำหนัก_kg'].mean()
mean_hour = df_mean['ชั่วโมงเรียน_ต่อสัปดาห์'].mean()

#แทนค่าที่มี NaN ด้วยค่าเฉลี่ย ด้วยฟังก์ชั่น fillna
df_mean['อายุ'].fillna(mean_age, inplace=True)
df_mean['GPA'].fillna(mean_grade,inplace=True)
df_mean['ส่วนสูง_cm'].fillna(mean_height, inplace=True)
df_mean['น้ำหนัก_kg'].fillna(mean_weight, inplace=True)
df_mean['ชั่วโมงเรียน_ต่อสัปดาห์'].fillna(mean_hour, inplace=True)

In [64]:
print(f"\nค่าเฉลี่ยอายุ -> {mean_age:.1f} ปี")
print("หลังเติมค่า")
df_mean

ค่าเฉลี่ยอายุ -> 28.5 ปี
หลังเติมค่า

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-01-23
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.450000,165.000000,58.000000,20.000000,2024-02-05
2,64003,NaN,28.470588,Male,Science,3.670000,175.000000,63.611111,25.000000,2024-01-13
3,64004,สมศักดิ์,22.000000,ช,คณะวิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2023-12-30
4,64005,สมใจ,19.000000,ญ,วิศวะ,3.890000,160.000000,52.000000,30.000000,2024-01-27
5,64006,กานต์,150.000000,ชาย,Engineering,3.120000,172.000000,75.000000,12.000000,2023-12-23
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.500000,158.000000,48.000000,35.000000,2024-01-05
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-01-23
8,64009,ชนาธิป,23.000000,M,Arts,3.340000,163.000000,55.000000,22.000000,2024-02-11
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.560000,167.000000,60.000000,28.000000,2024-01-03
10,64011,ธีระ,28.470588,NaN,Science,3.780000,167.684211,68.000000,21.388889,2024-01-07
11,64012,นภา,22.000000,ชาย,วิทย์,3.246111,171.000000,63.611111,16.000000,2023-12-26
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.230000,169.000000,72.000000,24.000000,2023-12-26
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.000000,2024-01-08
14,64015,พิมพ์,22.000000,Female,Sci,3.670000,162.000000,56.000000,26.000000,2024-02-06
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-20
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-24
17,64018,ยุพา,21.000000,หญิง,Science,3.230000,161.000000,50.000000,27.000000,2024-01-08
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2023-12-18
19,64020,ลัดดา,22.000000,NaN,Science,3.450000,168.000000,64.000000,23.000000,2024-01-06

In [65]:
df_mean.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       1
อายุ                       0
เพศ                        2
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
dtype: int64

In [66]:
print("ค่า NaN ที่ยังเหลืออยู่")
df_mean.isnull().sum().sum()

ค่า NaN ที่ยังเหลืออยู่

np.int64(3)

# เติมค่า NaN ด้วยค่าที่พบบ่อยที่สุด

In [67]:
df_mode = df_mean.copy()

In [71]:
df_mode.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       1
อายุ                       0
เพศ                        0
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
dtype: int64

In [69]:
# เหมาะกับข้อมูลประเภท - ใช้ค่าที่พบบ่อยที่สุด (mode)
# แทนค่าที่เป็น NaN ของ เพศ และคณะ ด้วย ค่าที่ซ้ำที่สุด ด้วยฟังก์ชั่น mode
df_mode['เพศ'].fillna(df_mode['เพศ'].mode()[0], inplace=True)
df_mode['คณะ'].fillna(df_mode['คณะ'].mode()[0], inplace=True)
df_mode

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-01-23
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.450000,165.000000,58.000000,20.000000,2024-02-05
2,64003,NaN,28.470588,Male,Science,3.670000,175.000000,63.611111,25.000000,2024-01-13
3,64004,สมศักดิ์,22.000000,ช,คณะวิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2023-12-30
4,64005,สมใจ,19.000000,ญ,วิศวะ,3.890000,160.000000,52.000000,30.000000,2024-01-27
5,64006,กานต์,150.000000,ชาย,Engineering,3.120000,172.000000,75.000000,12.000000,2023-12-23
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.500000,158.000000,48.000000,35.000000,2024-01-05
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-01-23
8,64009,ชนาธิป,23.000000,M,Arts,3.340000,163.000000,55.000000,22.000000,2024-02-11
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.560000,167.000000,60.000000,28.000000,2024-01-03
10,64011,ธีระ,28.470588,ชาย,Science,3.780000,167.684211,68.000000,21.388889,2024-01-07
11,64012,นภา,22.000000,ชาย,วิทย์,3.246111,171.000000,63.611111,16.000000,2023-12-26
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.230000,169.000000,72.000000,24.000000,2023-12-26
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.000000,2024-01-08
14,64015,พิมพ์,22.000000,Female,Sci,3.670000,162.000000,56.000000,26.000000,2024-02-06
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-20
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-24
17,64018,ยุพา,21.000000,หญิง,Science,3.230000,161.000000,50.000000,27.000000,2024-01-08
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2023-12-18
19,64020,ลัดดา,22.000000,ชาย,Science,3.450000,168.000000,64.000000,23.000000,2024-01-06

In [72]:
print("ค่า NaN ที่ยังเหลืออยู่")
df_mode.isnull().sum().sum()

ค่า NaN ที่ยังเหลืออยู่

np.int64(1)

# แทนที่ค่าเป็น Unknown

In [80]:
df_unknown = df_mode.copy()
df_unknown['ชื่อ'].fillna('Unknown', inplace=True)
df_unknown

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-01-23
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.450000,165.000000,58.000000,20.000000,2024-02-05
2,64003,Unknown,28.470588,Male,Science,3.670000,175.000000,63.611111,25.000000,2024-01-13
3,64004,สมศักดิ์,22.000000,ช,คณะวิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2023-12-30
4,64005,สมใจ,19.000000,ญ,วิศวะ,3.890000,160.000000,52.000000,30.000000,2024-01-27
5,64006,กานต์,150.000000,ชาย,Engineering,3.120000,172.000000,75.000000,12.000000,2023-12-23
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.500000,158.000000,48.000000,35.000000,2024-01-05
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-01-23
8,64009,ชนาธิป,23.000000,M,Arts,3.340000,163.000000,55.000000,22.000000,2024-02-11
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.560000,167.000000,60.000000,28.000000,2024-01-03
10,64011,ธีระ,28.470588,ชาย,Science,3.780000,167.684211,68.000000,21.388889,2024-01-07
11,64012,นภา,22.000000,ชาย,วิทย์,3.246111,171.000000,63.611111,16.000000,2023-12-26
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.230000,169.000000,72.000000,24.000000,2023-12-26
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.000000,2024-01-08
14,64015,พิมพ์,22.000000,Female,Sci,3.670000,162.000000,56.000000,26.000000,2024-02-06
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-20
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-24
17,64018,ยุพา,21.000000,หญิง,Science,3.230000,161.000000,50.000000,27.000000,2024-01-08
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2023-12-18
19,64020,ลัดดา,22.000000,ชาย,Science,3.450000,168.000000,64.000000,23.000000,2024-01-06

In [81]:
df_unknown.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       0
อายุ                       0
เพศ                        0
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
dtype: int64

In [83]:
print("ค่า NaN ที่ยังเหลืออยู่")
df_unknown.isnull().sum().sum()

ค่า NaN ที่ยังเหลืออยู่

np.int64(0)

# ทำให้ข้อมูลเป็นมาตรฐาน

In [94]:
# ทำให้ชื่อคณะเป็นมาตรฐานเดียวกัน
# ข้อมูลบางข้อมูล เช่น คณะ มีการใส่ วิทย์,วิทยาศาสตร์,Sci ค่าไม่เหมือนกัน ดังนั้น จึงต้องทำให้เป็นมาตรฐานเดียวกัน
df_standard = df_unknown.copy()

In [95]:
df_standard['คณะ']

0        วิทยาศาสตร์
1              วิทย์
2            Science
3     คณะวิทยาศาสตร์
4              วิศวะ
5        Engineering
6           วิศวกรรม
7         ศิลปศาสตร์
8               Arts
9              ศิลป์
10           Science
11             วิทย์
12             วิศวฯ
13      Liberal Arts
14               Sci
15       วิทยาศาสตร์
16    วิศวกรรมศาสตร์
17           Science
18        ศิลปศาสตร์
19           Science
Name: คณะ, dtype: object

In [96]:
df_standard['เพศ']

0        ชาย
1       หญิง
2       Male
3          ช
4          ญ
5        ชาย
6       หญิง
7          F
8          M
9       หญิง
10       ชาย
11       ชาย
12      หญิง
13       ชาย
14    Female
15         ช
16         ญ
17      หญิง
18       ชาย
19       ชาย
Name: เพศ, dtype: object

In [97]:
#สร้างฟังก์ชั่น

def standardize_gender(name):
    if name in ['ชาย','Male','M','ช']:
        return 'ชาย'
    elif name in ['หญิง','Female','F','ญ']:
        return 'หญิง'
    else:
        return name

def standardize_faculty(name):
    if name in ['วิทยาศาสตร์', 'วิทย์', 'Science', 'คณะวิทยาศาสตร์','Sci']: #วิทยาศาสตร์ - วิทย์ , Science ,Sci
        return 'วิทยาศาสตร์'
    elif name in ['ศิลปศาสตร์', 'ศิลป์', 'Arts','Liberal Arts']:#ศิลปศาสตร์ - Arts,ศิลป์ ,Liberal Arts
        return 'ศิลปศาสตร์'
    elif name in ['วิศวกรรมศาสตร์','วิศวกรรม','วิศวะ','Engineering','วิศวฯ']: #วิศวกรรมศาสตร์ - วิศวกรรม,วิศวะ ,Engineering ,วิศวฯ
        return 'วิศวกรรมศาสตร์'
    else:
        return name



#แทนที่ชื่อคณะให้เหมือนกัน
df_standard['เพศ'] = df_standard['เพศ'].apply(standardize_gender)
df_standard['คณะ'] = df_standard['คณะ'].apply(standardize_faculty)
df_standard

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-01-23
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.000000,2024-02-05
2,64003,Unknown,28.470588,ชาย,วิทยาศาสตร์,3.670000,175.000000,63.611111,25.000000,2024-01-13
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2023-12-30
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.000000,2024-01-27
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.000000,2023-12-23
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.500000,158.000000,48.000000,35.000000,2024-01-05
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-01-23
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.000000,2024-02-11
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.000000,2024-01-03
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,21.388889,2024-01-07
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.246111,171.000000,63.611111,16.000000,2023-12-26
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.000000,2023-12-26
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.000000,2024-01-08
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.000000,2024-02-06
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-20
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-24
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.000000,2024-01-08
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2023-12-18
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.000000,2024-01-06

# ค่าที่เกินขอบเขต

In [90]:
df_abnormal = df_standard.copy()
df_abnormal
# จะเห็นว่า GPA ยังมีค่า -1 ซึ่งไม่ถูกต้อง และอายุ 150 ที่ต้องแก้ไข

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-01-23
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.000000,2024-02-05
2,64003,Unknown,28.470588,Male,วิทยาศาสตร์,3.670000,175.000000,63.611111,25.000000,2024-01-13
3,64004,สมศักดิ์,22.000000,ช,วิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2023-12-30
4,64005,สมใจ,19.000000,ญ,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.000000,2024-01-27
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.000000,2023-12-23
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.500000,158.000000,48.000000,35.000000,2024-01-05
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-01-23
8,64009,ชนาธิป,23.000000,M,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.000000,2024-02-11
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.000000,2024-01-03
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,21.388889,2024-01-07
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.246111,171.000000,63.611111,16.000000,2023-12-26
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.000000,2023-12-26
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.000000,2024-01-08
14,64015,พิมพ์,22.000000,Female,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.000000,2024-02-06
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-20
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-24
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.000000,2024-01-08
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2023-12-18
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.000000,2024-01-06

In [91]:
#Age
Q1_Age = df['อายุ'].quantile(0.25)
Q3_Age = df['อายุ'].quantile(0.75)
IQR_Age = Q3_Age - Q1_Age
#ขอบเขตของ อายุ
lower_bound_age = Q1_Age - 1.5 * IQR_Age
upper_bound_age = Q3_Age + 1.5 * IQR_Age
print(lower_bound_age,upper_bound_age)

#gpa
lower_bound_gpa = 1
upper_bound_gpa = 4
print(lower_bound_gpa,upper_bound_gpa)

16.625 25.625
1 4

In [93]:
#กรองค่าที่เกินขอบเขต ของอายุ และเกรด
df_no_outliers = df[(df['อายุ'] >= lower_bound_age) & (df['อายุ'] <= upper_bound_age ) & (df['GPA'] >= 0) & (df['GPA'] <= 4)]
df = df_no_outliers
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,Science,3.23,161.0,50.0,27.0,2024-01-08
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

# BMI

In [98]:
# สร้าง BMI จากส่วนสูงและน้ำหนัก
df_bmi = df_mode.copy()

In [99]:
# สร้าง BMI
df_bmi['BMI'] = df_bmi['น้ำหนัก_kg'] / (df_bmi['ส่วนสูง_cm']/100)**2
df_bmi['BMI']

0     22.491349
1     21.303949
2     20.770975
3     24.801587
4     20.312500
5     25.351541
6     19.227688
7     25.308642
8     20.700817
9     21.513859
10    24.183802
11    21.754082
12    25.209201
13    20.077335
14    21.338211
15    26.061679
16    22.499637
17    19.289379
18    25.102391
19    22.675737
Name: BMI, dtype: float64

In [100]:
df_bmi['สุขภาพ'] = pd.cut(df_bmi['BMI'],
                                   bins=[0, 18.5, 25, 30, 100],
                                   labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])
df_bmi

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,BMI,สุขภาพ
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-01-23,22.491349,ปกติ
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.450000,165.000000,58.000000,20.000000,2024-02-05,21.303949,ปกติ
2,64003,NaN,28.470588,Male,Science,3.670000,175.000000,63.611111,25.000000,2024-01-13,20.770975,ปกติ
3,64004,สมศักดิ์,22.000000,ช,คณะวิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2023-12-30,24.801587,ปกติ
4,64005,สมใจ,19.000000,ญ,วิศวะ,3.890000,160.000000,52.000000,30.000000,2024-01-27,20.312500,ปกติ
5,64006,กานต์,150.000000,ชาย,Engineering,3.120000,172.000000,75.000000,12.000000,2023-12-23,25.351541,อ้วน
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.500000,158.000000,48.000000,35.000000,2024-01-05,19.227688,ปกติ
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-01-23,25.308642,อ้วน
8,64009,ชนาธิป,23.000000,M,Arts,3.340000,163.000000,55.000000,22.000000,2024-02-11,20.700817,ปกติ
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.560000,167.000000,60.000000,28.000000,2024-01-03,21.513859,ปกติ
10,64011,ธีระ,28.470588,ชาย,Science,3.780000,167.684211,68.000000,21.388889,2024-01-07,24.183802,ปกติ
11,64012,นภา,22.000000,ชาย,วิทย์,3.246111,171.000000,63.611111,16.000000,2023-12-26,21.754082,ปกติ
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.230000,169.000000,72.000000,24.000000,2023-12-26,25.209201,อ้วน
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.000000,2024-01-08,20.077335,ปกติ
14,64015,พิมพ์,22.000000,Female,Sci,3.670000,162.000000,56.000000,26.000000,2024-02-06,21.338211,ปกติ
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-20,26.061679,อ้วน
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-24,22.499637,ปกติ
17,64018,ยุพา,21.000000,หญิง,Science,3.230000,161.000000,50.000000,27.000000,2024-01-08,19.289379,ปกติ
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2023-12-18,25.102391,อ้วน
19,64020,ลัดดา,22.000000,ชาย,Science,3.450000,168.000000,64.000000,23.000000,2024-01-06,22.675737,ปกติ

In [101]:
df_bmi[['ชื่อ', 'BMI', 'สุขภาพ']]

        ชื่อ        BMI สุขภาพ
0      สมชาย  22.491349   ปกติ
1     สมหญิง  21.303949   ปกติ
2        NaN  20.770975   ปกติ
3   สมศักดิ์  24.801587   ปกติ
4       สมใจ  20.312500   ปกติ
5      กานต์  25.351541   อ้วน
6      กิตติ  19.227688   ปกติ
7       จิรา  25.308642   อ้วน
8     ชนาธิป  20.700817   ปกติ
9       ดารา  21.513859   ปกติ
10      ธีระ  24.183802   ปกติ
11       นภา  21.754082   ปกติ
12     บุญมี  25.209201   อ้วน
13     ปรีชา  20.077335   ปกติ
14     พิมพ์  21.338211   ปกติ
15      ภูมิ  26.061679   อ้วน
16      มานี  22.499637   ปกติ
17      ยุพา  19.289379   ปกติ
18     รัตนา  25.102391   อ้วน
19     ลัดดา  22.675737   ปกติ